<launch>
  <!-- 启动 UARM 机械臂 -->
  <include file="$(find swiftpro)/launch/pro_control_nomoveit.launch"/>

  <!-- 启动 YDLIDAR 雷达 -->
  <node name="ydlidar_g6_node" pkg="ydlidar_ros_driver" type="ydlidar_ros_driver_node" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baudrate" value="230400"/>
    <param name="frame_id" value="laser_frame"/>
    <param name="angle_max" value="180.0"/>
    <param name="angle_min" value="-180.0"/>
    <param name="range_max" value="12.0"/>
    <param name="range_min" value="0.1"/>
    <param name="frequency" value="10.0"/>
    <param name="auto_reconnect" value="true"/>
    <param name="resolution_fixed" value="true"/>
    <param name="reversion" value="true"/>
  </node>
</launch>

